.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  font-size: 200%;
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  line-height: 2;
}

.login .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.login input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  color: #fff;
  font-weight: 100;
  font-size: 1em;
}

.chat {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  display: flex;
}

.chat .user-list {
  width: 200px;
  text-align: center;
  overflow-y: auto;
  padding: 15px;
  background: #000;
  color: #fff;
}

.chat .user-list .title {
  color: #777;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
.chat .user-list ul {
  padding: 10px 0;
}
.chat .user-list li {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  color: #aaa;
}
.chat .user-list li:hover {
  color: lemonchiffon;
}
.chat .user-list li.all {
  color: lightblue;
  font-weight: bold;
}

.chat .main {
  flex-grow: 1;
  position: relative;
  font-size: 140%;
}
.chat .main .chat-list {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 100px;
  overflow: auto;
  width: 100%;
  padding: 20px;
}

.chat .main .chat-list .log {
  color: gray;
  margin: 5px;
  text-align: center;
  font-size: 70%;
}

.chat .main .sendmsg {
  border-top: 1px solid #ccc;
  height: 100px;
  line-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  width: 100%;
}

.chat .main .sendmsg span {
  margin: 0 10px;
}
.chat .main .sendmsg input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  width: 400px;
  font-size: 1em;
  flex-grow: 1;
  padding-bottom: 10px;
  margin-top: 10px;
  line-height: 1;
}
.chat .main .user {
  color: rgb(17, 118, 152);
  font-weight: bold;
}
.chat .main .gray {
  color: gray;
}
